name: build

on: [push]

jobs:
  build_mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: cargo build --verbose --release
      - uses: actions/upload-artifact@v1
        with:
          name: mac
          path: target/release/display_switch

  build_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: cargo build --verbose --release
      - name: Run tests
        run: cargo test --verbose
      - uses: actions/upload-artifact@v1
        with:
          name: windows
          path: target/release/display_switch.exe

  build_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install build dependencies
        run: sudo apt-get install libudev-dev
      - name: Build
        run: cargo build --verbose --release
      - name: Run tests
        run: cargo test --verbose
      - uses: actions/upload-artifact@v1
        with:
          name: linux
          path: target/release/display_switch
